<div class="header-wrapper">
    <div class="icon-wrapper">
        <img src="../../assets/images/logo.png" alt="">
        <h3>Food <span>Mania</span></h3>
    </div>
    <div class="nav-wrapper">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
        <a href="#" (click)="gonav('recipe')">Recipes</a>
        <a href="#" (click)="gonav('shopping')">Shopping List</a>
    </div>
    <div class="dropdwon-wrapper">
        <button>Manage <i class="fas fa-caret-down"></i></button>
    </div>
</div>
<hr>