<div class="add-btn">
    <button (click)="addbtn_clicked()">Add Recipe</button>
</div>
<app-recipe-add 
    *ngIf="clicked"
    (addItems)="addrecipe($event)"></app-recipe-add>
<div class="container">
    <div class="recipe-wrapper" *ngFor = "let recipe of recipes" (click)="showDiv()">
        <div class="display" *ngIf = "show; else showthis">
            <img src="{{recipe.Imagepath}}" alt="">
            <div class="recipe-contents">
                <div class="contents">
                    <label for="Name">Name :</label>
                    <h3>{{recipe.Name}}</h3>
                </div>
                <div class="contents">
                    <label for="Description">Description :</label>
                    <h3>{{recipe.Description}}</h3>
                </div>
            </div>
        </div>
        <ng-template #showthis>
            <div class="nondisplay">
                <app-recipe-details></app-recipe-details>
            </div>
        </ng-template>
    </div>
</div>