.form{
    font-family: 'Montserrat',sans-serif;
    display: flex;
    justify-content: center;
    .add-recipe-wrapper{
        padding: 1em;
        border: 2px solid gainsboro;
        border-radius: .4em;
        width: 35%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .add-content{
            display: flex;
            align-items: center;
            width: 100%;
            margin-bottom: 1em;
            label{
                font-size: 1.2em;
                width: 10em;
            }
            input{
                margin-left: 3em;
                border: 2px solid cornflowerblue;
                outline: none;
                border-radius: .3em;
                width: 20em;
                padding: .3em;
                font-size: 1.2em;
            }
        }
        button{
            margin-top: 1em;
            margin-left: 3em;
            text-align: center;
            background: coral;
            width: 20em;
            padding: .3em;
            font-size: 1.2em;
            border: none;
            border-radius: .3em;
            box-shadow: 0px 0px 1px 1px rgba(0,0,0,.2);
        }
    }   
}
.container{
    font-family: 'Montserrat',sans-serif;
    width: 100%;
    padding: 1em;
    min-width: 800px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    .recipe-wrapper{
        transition: all .4s;
        cursor: pointer;
        width: 23%;
        box-shadow: 0px 0px 3px 1px rgba(0,0,0,.2);
        border-radius: .5em;
        margin-bottom: 2em;
        img{
            border-radius: .5em .5em 0 0;
            width: 100%;
        }
        .recipe-contents{
            display: flex;
            flex-direction: column;
            padding: 1em;
            .contents{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                label{
                    font-size: 1.1em;
                    margin-right: 1em;
                    font-weight: 500;
                }
                h3{
                    font-size: 1.1em;
                    font-weight: 500;
                    color: rgb(247, 76, 133);
                }
            }
        }
        &:hover{
            transition: .3s;
            transform: scale(1.015);
            box-shadow: 0px 0px 10px 1px rgba(0,0,0,.2);
        }
    }
    
}